{% extends 'base.html' %}
{% block logout %}
<form method="post" id="form_logout" class="form-inline ml-auto" >
	 {% csrf_token %}
	<button type="submit" class="btn btn-danger btn-block"
			id="logout_btn"  name="logout_btn" value="Log out" form="form_logout">Log out</button>
</form>
{% endblock logout %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">ETL-Tool</li>
{% endblock %}

{% block content %}

<br>
<br>
 <div class="container">
 <div class="main_btn">
	 <button class="btn" type="submit"><a href="{% url 'import_f'%}">Import Files</a></button>
     <button class="btn" type="submit"><a href="{% url 'master_data'%}">Master Data</a></button>
	 <button class="btn" type="submit" id="active"><a href="#">Mapping Data</a></button>
    <button class="btn" type="submit"><a href="{% url 'perform_data'%}">Proccess & Validate</a></button>
	<button class="btn" type="submit"><a href="{% url 'export_data'%}">Output Data</a></button>
	<button class="btn" type="submit" {% if user.is_superuser %}{% else %}  style="display:none;"{% endif %}><a href="{% url 'admin'%}">Admin</a></button>
	 </div>
<h1>Finatycs</h1>
<div class="container">
  <div class="row">
    <div class="col-md-3">
         <div class="sub_btn">
      <ul class="nav nav-pills nav-stacked">
        <li><button class="btn" type="submit"><a href="{% url 'mapping_data'%}">Browse/Define Mapping Data</a></button></li>
        <li><button class="btn" type="submit" id="active_1"><a href="{% url 'import_mt'%}">Import Mapping Data</a></button></li>
        <li><button class="btn" type="submit"><a href="{% url 'brows_mapping_t'%}">Browse/Define Mapping Data</a></button></li>
		<li><button class="btn" type="submit"><a href="{% url 'brows_d_mrules'%}">Browse/Define Mapping Rules</a></button></li>
		<li><button class="btn" type="submit"><a href="{% url 'brows_d_msets'%}">Browse/Define Mapping Sets</a></button></li>
      </ul>
         </div>

    		 {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <ol  {% if message.tags %} class=" {{ message.tags }} " {% endif %}>{{ message }} </ol>
    {% endfor %}
</ul>
{% endif %}
	  </div>
    <div class="col-md-7">
		{% if dimension == ''%}
		<h2>Choose one of Mapping Tables </h2>
		{% else %}
		<h2>Choose file to upload data in to your Mapping Table directly</h2>
		{% endif %}
     <form method="POST" id="form_custom_file"  action="" enctype="multipart/form-data" {% if dimension == ''%}style="display:none;"{% endif %}>
         {% csrf_token %}
		<input type="hidden" name="dim_name_im" value="{{dimension}}">
         <ul>
             <ol>
              <input type="file" id="myfile" name="file_im" value="file_im" {% if df_head|length > 0 %}disabled{% endif %}>
             </ol><br>
            <ol><button class="btn"  type="submit" form="form_custom_file" name="import" value="import" {% if df_head|length > 0 %}disabled{% endif %}>Import Data</button></ol>
             <ol>to</ol>
			 <ol><select disabled><option>{{ dimension }}</option></select></ol>
         </ul>
	</form>
		<div class="jumbotron" {% if dimension == ''%}style="display:none;"{% endif %}>
	<form id="import_f" method="post"  {% if df_head|length == 0 %}style="display:none;"{%else%}{% endif %}>{% csrf_token %}
		<button class="btn" id="s_master_d" type="submit" form="import_f" name="submit" value="import"
		onclick="return confirm('Are you sure you wannt to submit?Code field is required field and must have format of four digits and no double select of option is allowed')">submit</button>

	<table id="df_table_1">
		<tr >

			{% for item in df_head %}
			<th>
			<select name="dim_option" required>
			<option>-none-</option>
			{% for item in list_header %}

				<option  >
					{{ item }}
				</option>

			{% endfor %}
			</select>
				<input type="hidden" name="index_df_col" value="{{forloop.counter}}">{{item}}</input>
				<input type="hidden" name="df_names" value="{{item}}">
                <input type="hidden" name="dim" value="{{dim}}">
			</th>
			{% endfor %}
		</tr>
			{% for item in df1 %}
		<tr>
			{% for i in item %}
		<td>{{ i }}</td>
			{% endfor %}
			</tr>
			{% endfor %}
	</table>
		<input type="hidden" name="f" value="{{f}}">

		</form>
</div>
  </div>
	  <div class="col-md-2" id="dim_list">
		<div class="dimensions">
	<ul id="dimensions">
        <form method="POST" id="dim_form" action="">

		 		{% csrf_token %}
			{% for item in obj_dim_name%}
			 {% if item.new_name != None %}
			<ol><input class="btn"  id="li" type="submit" name="dimension" form="dim_form" {% if item.new_name != None %}
																						value="{{ item.new_name }}"
																					{% else %}
																						value="{{ item.name }}"
																					{% endif %} onclick="myFunction()"></ol>
			{% endif %}
			{% endfor %}
		</form>

	</ul>
		</div>

    </div>
    <div class="clearfix visible-lg"></div>
  </div>
</div>
  </div>

 


</div>
{% endblock %}